
.ticket {
  display: inline-block;
  margin: 10px;
  text-align: center;
  width: 100px;
}

.ticket img {
  width: 100%;
}

.nomoney {
  background-color: red;
}

footer {
  padding: 10px;
  margin: 30px 0 20px 0;
}
