body {
  padding: 3px;
  // background-image: url(/img/background.jpg);
}

button {
  margin-bottom: 0px !important;
}

.ticket {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.nomoney {
  background-color: red;
}

.ticket img {
  width: 100px;
}

footer {
  padding: 10px;
  margin: 30px 0 20px 0;
}
