

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>Vyber jízdenku</h2>

    <div data-ng-show="error" class="alert alert-danger" role="alert">
      {{'ERROR' | translate}}: {{ error }}.
    </div>

    <div data-ng-repeat="t in data" class="ticket"
      data-ng-click="buy(t);" class="pull-left" ng-class="{nomoney: t.amount > loggedUser.credit}">
      <img data-ng-src="{{ t.url }}" alt="obrázek jízdenky" />
      <h4>{{ t.desc }}</h4>
      <p>{{ t.amount }}</p>
    </div>

  </div>

</div>
