


<h1>{{'REGISTER_CHANGE_PWD_H1' | translate}}</h1>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

    <form class="form-signin" data-ng-submit="submit();" name="frm" role="form">

      <div class="form-group">
        <input type="password" name="passwd" class="form-control"
          placeholder="{{'REGISTER_PWD_REQ' | translate}}"
          required ng-model="pwd" match="pwdVerif">

        <div class="error-container" ng-show="frm.passwd.$invalid && frm.passwd.$dirty">
          <small class="text-danger" ng-show="frm.passwd.$error.required">
            {{'REGISTER_PWD_REQ' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="passwd2" class="form-control"
          placeholder="{{'REGISTER_PWD_REPEAT_VALID' | translate}}"
          required ng-model="pwdVerif" match="pwd">

        <div class="error-container" ng-show="frm.passwd2.$invalid && frm.passwd2.$dirty">
          <small class="text-danger" ng-show="frm.passwd2.$error.required">
            {{'REGISTER_PWD_REPEAT_VALID' | translate}}
          </small>
          <small class="text-danger" ng-show="frm.passwd2.$error.match">
            {{'REGISTER_PWD_REPEAT_NOTMATCH' | translate}}
          </small>
        </div>
      </div>

      <div data-ng-show="error" class="alert alert-danger" role="alert">
        {{error | translate}}
      </div>

      <div data-ng-show="message" class="alert alert-success" role="alert">
        {{message | translate}}
      </div>

      <div class="form-group" data-ng-hide="message">
        <button class="btn btn-primary" ng-disabled="frm.$invalid">
          <span class="glyphicon glyphicon-refresh"></span> OK
        </button>
      </div>

    </form>

  </div>
</div>
