

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

    <h1>Jízdenky na MHD</h1>

    <p>Nejaky keci</p>

    <a class="btn btn-primary btn-lg" href="/buy" role="button">
      Buy!
    </a>

  </div>

  <div data-ng-show="!!loggedUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

    <h2>Platné jízdenky</h2>

    <ul class="ticket" data-ng-repeat="t in tickets">
      <li>
        <img data-ng-src="{{ t.url }}" alt="obrázek jízdenky" />
        <p>ID: {{ t.id }}</p>
        <p>Valid till: <br>
          {{ t.expires | nicedate }}
        </p>
      </li>
    </ul>

</div>
