

<div class="row">

  <div data-ng-hide="!!loggedUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1>Jízdenky na MHD</h1>

    <p>Nejaky keci</p>

    <a class="btn btn-primary btn-lg" href="/buy" role="button">
      Buy!
    </a>

  </div>

  <div data-ng-show="!!loggedUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1>Platné jízdenky</h1>

    <div class="alert alert-danger" role="alert" data-ng-hide="tickets.length > 0">
      You have no valid ticket!
    </div>

    <table class="table table-hover" data-ng-show="tickets.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Remaining</th>
          <th>Expires</th>
          <th>Desc</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in tickets">
          <td>#{{ t.id }}</td>
          <td>{{ t.remains }}</td>
          <td>{{ t.expires | nicedate }}</td>
          <td>{{ t.desc }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
