

<div class="row">

  <div data-ng-hide="!!loggedUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1>{{'HOME_H1' | translate}}</h1>

    <p>
      Vítej do aplikace pro online nákup jízdenek na MHD.
      Na začátku je třeba se <a href="/register">registrovat</a>
      (nebo <a href="/login">přihlásit</a> přes některou z podporovaných sociálních sítí).
    </p>

    <p>
      Po přihlášení ze objeví tvoje UID (účastnické číslo).
      Pod stejným číslem si bankovním převodem nabiješ kredit na svůj virtuální účet.
      A pak už hurá udělat první ...
    </p>

    <p>
      <a class="btn btn-primary btn-lg" href="/buy" role="button">
        {{'BUY' | translate}}
      </a>
    </p>

  </div>

  <div data-ng-show="!!loggedUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1>{{'VALID_TICKETS' | translate}}</h1>

    <div class="alert alert-danger" role="alert" data-ng-hide="tickets.length > 0">
      {{'NO_VALID_TICKETS' | translate}}
    </div>

    <table class="table table-hover" data-ng-show="tickets.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{'REMAINING' | translate}}</th>
          <th>{{'EXPIRES' | translate}}</th>
          <th>{{'DESC' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in tickets">
          <td>#{{ t.id }}</td>
          <td>{{ t.remains }}</td>
          <td>{{ t.expires | nicedate }}</td>
          <td>{{ t.desc }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<p class="alert alert-danger" role="alert">
  Zatím aplikace není napojena na bankovní účet,
  ale převod můžeš (po přihlášení) <a href="/mocktransfer">vyzkoušet nanečisto</a>.
</p>
