
<div class="row">
  <div class="center-block col-md-4">
    <form ng-submit="login()" class="form-signin" name="credentials" role="form">

      <h2 class="form-signin-heading">Please log in</h2>
      <input type="text" class="form-control" placeholder="Email address" required autofocus ng-model="credentials.uname">
      <input type="password" class="form-control" placeholder="Password" required ng-model="credentials.passwd">

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <span class="glyphicon glyphicon-user"></span> Sign in
      </button>

    </form>
  </div>
</div>
