
<div class="row">
  <div class="center-block col-md-6">

    <h1 class="form-signin-heading">{{'MOCKTRANSFER_H1' | translate}}</h1>

    <form data-ng-submit="process();" class="form-register" name="frm" role="form">

      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="čislo účtu"
          required autofocus ng-model="info.account">

        <div class="error-container" ng-show="frm.name.$invalid">
          <small class="text-danger" ng-show="frm.name.$error.required">
            {{'COMMON_REQ' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="number" name="email" class="form-control" placeholder="variabilní symbol"
          required ng-model="info.uid">

        <div class="error-container" ng-show="frm.email.$invalid">
          <small class="text-danger" ng-show="frm.email.$error.required">
            {{'COMMON_REQ' | translate}}
          </small>
          <small class="text-danger" ng-show="frm.email.$error.number">
            {{'COMMON_INVALID' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="number" name="passwd" class="form-control" placeholder="částka"
          required ng-model="info.amount">

        <div class="error-container" ng-show="frm.passwd.$invalid">
          <small class="text-danger" ng-show="frm.passwd.$error.required">
            {{'COMMON_REQ' | translate}}
          </small>
        </div>
      </div>

      <div data-ng-show="error" class="alert alert-danger" role="alert">
        {{'ERROR' | translate}}: {{ error }}.
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">
          <span class="glyphicon glyphicon-pencil"></span> OK
        </button>

        |

        <a href="/">Storno</a>
      </div>

    </form>

  </div>
</div>
