
<div class="row">
  <div class="center-block col-md-6">

    <h1 class="form-signin-heading">{{'REGISTER_H1' | translate}}</h1>

    <form data-ng-submit="register();" class="form-register" name="frm" role="form">

      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Your name"
          required autofocus ng-model="user.name">

        <div class="error-container" ng-show="frm.name.$invalid">
          <small class="text-danger" ng-show="frm.name.$error.required">
            {{'REGISTER_NAME_REQ' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email"
          required data-ng-validator="email"
          data-unique="/auth/check" autofocus ng-model="user.email">

        <div class="error-container" ng-show="frm.email.$invalid">
          <small class="text-danger" ng-show="frm.email.$error.required">
            {{'REGISTER_EMAIL_REQ' | translate}}
          </small>
          <small class="text-danger" ng-show="frm.email.$error.email">
            {{'REGISTER_EMAIL_INVALID' | translate}}
          </small>
          <small class="text-danger" ng-show="frm.email.$error.unique">
            {{'REGISTER_EMAIL_ALREADYREG' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="passwd" class="form-control" placeholder="Password"
          required ng-model="user.passwd" match="pwdVerif">

        <div class="error-container" ng-show="frm.passwd.$invalid">
          <small class="text-danger" ng-show="frm.passwd.$error.required">
            {{'REGISTER_PWD_REQ' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="passwd2" class="form-control" placeholder="Password"
          required ng-model="pwdVerif" match="user.passwd">

        <div class="error-container" ng-show="frm.passwd2.$invalid">
          <small class="text-danger" ng-show="frm.passwd2.$error.required">
            {{'REGISTER_PWD_REPEAT_VALID' | translate}}
          </small>
          <small class="text-danger" ng-show="frm.passwd2.$error.match">
            {{'REGISTER_PWD_REPEAT_NOTMATCH' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">
          <span class="glyphicon glyphicon-pencil"></span> {{'REGISTER' | translate}}
        </button>
      </div>

    </form>

  </div>
</div>
