

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1><span class="glyphicon glyphicon-cog"></span> {{'TERMS' | translate}}</h1>

    <h2>Dobíjení účtu</h2>

    <p>
      Po přihlášení do aplikace se objeví tvoje UID (účastnické číslo).
      Pro dobití učtu je nutné převést prostředky na účet {{account}}
      a <b>jako variabilní symbol uvést tvoje UID</b>.
      Pouze na základě tohoto UID lze platbu identifikovat.
      Stojí za to údaje rádně překontrolovat.
    </p>

    <h2>Kontaktní informace</h2>

    ...

  </div>

</div>
